@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Karla:wght@800&display=swap');

body{
    background-color: #1F2937;
}
.main{
    height: 100%;
    margin: 20vh 10vw 0;
    display: block;
    h1{
        justify-content: center;
        font-family: 'Karla';
        font-size: 1.5em;
        color: white;
        span{
            color: #4ADF86;
        }
    }
    p{
        margin-top: -.5em;
        margin-bottom: 2em;
        font-family: 'Inter';
        font-weight: 400;
        font-size: 1em;
        color: #D5D4D8;
    }
    label{
        font-family: 'Inter';
        font-weight: 400;
        color: white;
        font-size: .8em;
    }
    input{
        background-color: #FFFFFF;
        margin: .5em auto 2em;
        height: 1.5em;
        width: 6em;
        text-align: center;
        font-family: 'Inter';
        font-weight: bold;
    }
    input:focus{
        outline: none;
    }
    hr{
        margin-top: 1em;
        border: 1px solid #2F3E53;

    }

    button{
        background: #10B981;
        color: #FFFFFF;
        padding: .8em;
        margin-bottom: 1em;
        border: none;
        font-family: 'Inter';
        font-weight: 400;
        font-size: .9em;
        border-radius: .2em;
    }
    button:hover{
        cursor: pointer;
    }

    .passwords{
        h4{
            color: white;
            margin: .1em .5em 1em;
            font-family: 'Inter';
            font-weight: 400;
            font-size: .8em;
            background-color: rgb(16, 77, 245);
            width: fit-content;
            padding: .6em;
            border-radius: .8em;
        }
        .passwordfield{
            display: flex;
            justify-content: center;
            p{
                margin: .5em .5em;
                padding: .9em .5em;
                height: max-content;
                width: 30vw;
                background-color: #273549;
                border-radius: .5em;
                color: #4ADF86;

                text-align: center;
                word-wrap:break-word
            }
            p:hover{
                cursor: pointer;
            }
        }
    }
}



// tablet view
@media only screen and (min-device-width : 720px){
    .main{
        margin: 20vh 20vw 0;
        display: block;
        justify-content: center;
        h1{
            font-size: 3em;
        }
        p{
            margin-top: -1em;
            font-size: 1.5em;
        }
        label{
            font-size: 1.65em;
        }
        input{
            margin-left: 0;
            margin-top: 1em;
            margin-bottom: 3em;
            width: 11em;
            height: 2em;
            font-size: 1em;
            font-weight: bold;
        }
        button{
            padding: 1em;
            margin-bottom: 1em;
            border: none;
            font-family: 'Inter';
            font-weight: 400;
            font-size: 1.5em;
            border-radius: .2em;
        }

        .passwords{
            h4{
                font-family: 'Inter';
                font-weight: 400;
                font-size: 1.1em;
                padding: .6em;
                border-radius: .8em;
            }
            .passwordfield{
                p{
                    margin-top: .3em;
                    width: 21vw;
                    min-height: 1vh;
                    padding: .5em 1em;
                }
            }
        }
    }
}

// desktop view
@media only screen and (min-device-width : 1240px){
    .main{
        margin-top: 15vh;
        h1{
            font-size: 4em;
        }
        p{
            margin-top: -1.7em;
            font-size: 1.5em;
        }
        label{
            font-size: 2em;
            margin-right: .5em;
        }    
        button{
            padding: .8em;
            margin-bottom: 1em;
            font-size: 1.4em;
            border-radius: .4em;
        }
        .passwords{
            h4{
                color: white;
                margin: .1em 0em 1em;
                font-family: 'Inter';
                font-weight: 400;
                font-size: 1.2em;
                background-color: rgb(16, 77, 245);
                width: fit-content;
                padding: .5em;
                border-radius: .8em;
            }
            .passwordfield{
                display: flex;
                justify-content: center;
                margin-left: -1em;
                p{
                    margin: .5em .6em;
                    padding: .9em .7em;
                    width: 43%;
                    border-radius: .5em;
                    text-align: center;
                    word-wrap:break-word
                }
                p:hover{
                    cursor: pointer;
                }
            }
        }
    }
}
